@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Login */

#login-show {
  font-size: 1.3rem;
  background-color: var(--bg);
  color: white;
  padding: 0px 10px;
  border-radius: 5%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 3rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#Hamburger-menu {
  display: none;
}
.main {
  /* display: flex; */
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
.content {
  /* background-color: #e3e9ff; */
  gap: 1.8rem;
  width: 70%;
  /* height: 1000px; */
  /* display: flex; */
  text-align: justify;
  /* padding-top: 50px; */
  padding: 15px 15px 15px 15px;
  /* margin: 0; */
  margin-left: 0%;
}

.sidebar {
  background-color: #122363;
  width: 30%;
  height: 90vh;
  padding: 17px 10px 10px 10px;
  /* display: flex; */
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* margin-left: -4px; */
  flex-direction: column;
  display: flex;
  z-index: 999;
}


.card-order {
  width: 91%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: white;
  display: flex;
  text-align: center;
  border-radius: 10px;
  /* justify-content: stretch; */
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-order img {
  width: 50px;
  border-radius: 10px;
  margin: 5px;
}

.card-order p {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  font-weight: 500;
  color: #4e4e4e;
  text-align: left;
}

.card-order span {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #4e4e4e;
  width: 1%;
}

.card-order button {
  background-color: rgb(214, 11, 11);
  border-radius: 10px;
  padding: 0;
  margin: 10px 0px 10px 20px;
  width: 80px;
  height: 30px;
  border: none;
  color: whitesmoke;
  font-weight: 500;
  align-items: flex-end;
}

.card-order button:hover {
  background-color: rgb(163, 12, 12);
}

.card {
  width: 280px;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  margin: 40px;
  display: inline-block;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card img {
  width: 92%;
  height: 80%;
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  /* display: flex; */
}

.card p {
  margin-left: 10px;
  font-size: 18px;
  font-style: normal;
  font-family: "Mulish", sans-serif;
  color: #4e4e4e;
  font-weight: 700;
}

.card hr {
  margin: 10px;
  color: #b8b8b8;
  border-color: #e2e1e1;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}

.order span {
  font-size: 17px;
  font-weight: 800;
}

.card-finish button {
  border: none;
  text-align: center;
  width: 90%;
  height: 50px;
  margin: 10px 10px 10px 15px;
  background-color: rgb(247, 143, 7);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 18px -13px rgba(0, 0, 0, 0.75);
}

.card-finish button:hover {
  background-color: rgb(211, 120, 0);
}

.fas {
  color: #ffffff;
}

.action button {
  background-color: #00b91f;
  border-radius: 10px;
  border: none;
  color: white;
}

.action button:hover {
  background-color: #189e2e;
}

.total {
  margin: 0px 10px 20px 15px;
}

.total h1 {
  color: white;
}

.detail {
  width: 70%;
  display: flex;
}

.about {
  margin-top: 40px;
  width: 100%;
  display: inline-block;
  /* justify-content: center; */
  text-align: center;
}
.about img {
  width: 300px;
}

.team {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.person {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}
.person img {
  border-radius: 100px;
  width: 100px;
}
.person p {
  font-size: 18px;
  font-weight: 500;
}
.person span {
  font-size: 14px;
}
